---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/_navbar.astro';
import Showcase from '../components/_showcase.astro';
---

<Layout title="Home - Thomas Pritchard">
	<main class="grid">
		<Navbar />
		<Showcase />
	</main>
</Layout>
