<div class="sticky top-0">
  <section class="relative mx-auto">
    <nav class="flex text-white w-screen">
      <div class="px-5 xl:px-12 py-6 flex justify-between w-full items-center">
        <a class="text-xl font-bold font-heading" href="#">Thomas Pritchard</a>
        <!-- Nav Links -->
        <ul class="hidden lg:flex px-4 mx-auto font-semibold font-heading space-x-12">
          <li><a class="hover:text-gray-200" href="#">Home</a></li>
          <li><a class="hover:text-gray-200" href="#">About Me</a></li>
          <li><a class="hover:text-gray-200" href="#">Projects</a></li>
          <li><a class="hover:text-gray-200" href="#">Contact Me</a></li>
        </ul>
        <!-- Header Icons -->
        <div class="hidden lg:flex items-center space-x-5 items-center">
          <a class="flex items-center hover:text-gray-200" href="#">
            <i class="fa-solid fa-user"></i>
          </a>
          <a class="hover:text-gray-200" href="#">
            <i class="fa-solid fa-house"></i>
          </a>
        </div>
      </div>
      <!-- Responsive navbar -->
      <div class="navbar-burger self-center mr-12 lg:hidden flex">
        <i class="fa-solid fa-bars" id="burger"></i>
      </div>
    </nav>
    <div class="flex hidden justify-center w-screen bg-gray-900 text-white h-36" id="mobile-pane">
      <div class="items-center flex flex-col justify-between my-5">
        <a class="hover:text-gray-200 text-2xl" href="#">Home</a>
        <a class="hover:text-gray-200 text-2xl" href="#">About Me</a>
        <a class="hover:text-gray-200 text-2xl" href="#">Projects</a>
        <a class="hover:text-gray-200 text-2xl" href="#">Contact Me</a>
      </div>
    </div>     
  </section>
</div>

<script>
  var burgerComponent = document.getElementById("burger");
  var toggled = false;
  var rotationAngle = 0;

  if (!burgerComponent) {
    throw new Error();
  }
  
  burgerComponent.addEventListener('click', () => {
    var mobilePaneComponent = document.getElementById("mobile-pane");
    var burgerIcon = document.getElementById("burger");

    if (!mobilePaneComponent || !burgerIcon) {
      throw new Error();
    }

    toggled = !toggled;
    rotationAngle += 90;
    burgerIcon.style.transform = `rotate(${rotationAngle}deg)`;

    if (rotationAngle >= 180) {
      rotationAngle = 0;
    }

    if (toggled) {
      mobilePaneComponent.classList.remove("hidden");
    } else {
      mobilePaneComponent.classList.add("hidden");
    }
  });
</script>